@font-face {
  font-family: 'iconfont';
  src: url('iconfont/iconfont.eot');
  src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'), url('iconfont/iconfont.woff2') format('woff2'), url('iconfont/iconfont.woff') format('woff'), url('iconfont/iconfont.ttf') format('truetype'), url('iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
}
strong,
h3,
h4 {
  font-weight: 400;
}
.main {
  height: 100%;
}
.main .weather {
  float: left;
  width: 55%;
  height: 100%;
  background-color: #a1b8ca;
  background-image: linear-gradient(top, #485663, #a1b8ca);
  background-image: -webkit-linear-gradient(top, #485663, #a1b8ca);
  background-image: -moz-linear-gradient(top, #485663, #a1b8ca);
  background-image: -o-linear-gradient(top, #485663, #a1b8ca);
  z-index: 2;
}
.main .weather .weather_live {
  position: relative;
  height: 64%;
  overflow: hidden;
}
.main .weather .weather_live .time_now {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  padding: 20px 0 0 20px;
  width: 300px;
  width: 100%;
  font-size: 1.8rem;
  color: #fff;
  text-shadow: 1px 1px 1px #555;
  line-height: 1.8rem;
  background-color: transparent;
  z-index: 3;
}
.main .weather .weather_live .weather_info {
  position: relative;
  height: 100%;
  padding-top: 36px;
}
.main .weather .weather_live .weather_info .icon {
  position: absolute;
  display: none;
  top: 1rem;
  left: 0;
  width: 55%;
  height: 50px;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
}
.main .weather .weather_live .weather_info .active {
  display: block;
}
.main .weather .weather_live .weather_info .content {
  top: 5rem;
  right: 0;
  width: 45%;
  position: absolute;
  color: white;
}
.main .weather .weather_live .weather_info .content .hour {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 0;
  font-size: 2.5rem;
  line-height: 4rem;
  font-weight: 700;
}
.main .weather .weather_live .weather_info .content .degrees {
  font-size: 3rem;
  font-weight: 300;
  color: white;
  line-height: 5rem;
}
.main .weather .weather_live .weather_info .content .degrees #temperature {
  font-size: 5rem;
}
.main .weather .weather_live .weather_info .content .data {
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.main .weather .weather_live .weather_info .content .weather_status {
  font-size: 2.2rem;
  line-height: 3.2rem;
  margin: .6rem 0;
}
.main .weather .weather_live .good {
  background-image: linear-gradient(top, #0d68bc, #72ade0);
  background-image: -webkit-linear-gradient(top, #0d68bc, #72ade0);
  background-image: -moz-linear-gradient(top, #a1caf0, #72ade0);
  background-image: -o-linear-gradient(top, #a1caf0, #72ade0);
}
.main .weather .weather_live .bad {
  background-image: linear-gradient(top, #485663, #a1b8ca);
  background-image: -webkit-linear-gradient(top, #485663, #a1b8ca);
  background-image: -moz-linear-gradient(top, #485663, #a1b8ca);
  background-image: -o-linear-gradient(top, #a1caf0, #72ade0);
}
.main .weather .weather_live .sunny .sun {
  position: absolute;
  right: 10%;
  top: 1rem;
  font-size: 15rem;
  color: #ffb948;
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.main .weather .weather_live .rainy .sun {
  position: absolute;
  right: 10%;
  top: 1.8rem;
  font-size: 8rem;
  color: #d89864;
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.main .weather .weather_live .rainy .cloud {
  position: absolute;
  right: 10%;
  top: 1rem;
  font-size: 15rem;
  color: #ccc;
}
.main .weather .weather_live .rainy .sprinkles {
  position: absolute;
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
  right: 10%;
  margin-right: 5rem;
  top: 10rem;
  z-index: -1;
  -webkit-animation-name: sprinkle;
  animation-name: sprinkle;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  color: #ccc;
}
.main .weather .weather_live .rainy .sprinkles:nth-of-type(4) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.main .weather .weather_live .rainy .sprinkles:nth-of-type(5) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.main .weather .weather_live .rainy .sprinkles:nth-of-type(6) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
.main .weather .weather_live .heavy_rain .cloud {
  position: absolute;
  right: 10%;
  top: 1rem;
  font-size: 15rem;
  color: #999;
}
.main .weather .weather_live .heavy_rain .sprinkles {
  position: absolute;
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
  right: 10%;
  margin-right: 3rem;
  top: 9rem;
  z-index: -1;
  -webkit-animation-name: sprinkle;
  animation-name: sprinkle;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  color: #ccc;
}
.main .weather .weather_live .heavy_rain .sprinkles:nth-of-type(4) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.main .weather .weather_live .heavy_rain .sprinkles:nth-of-type(5) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.main .weather .weather_live .heavy_rain .sprinkles:nth-of-type(6) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
.main .weather .weather_live .snow .cloud {
  position: absolute;
  right: 10%;
  top: 0;
  font-size: 15rem;
  color: #ccc;
}
.main .weather .weather_live .snow .snowflakes {
  position: absolute;
  right: 10%;
  top: 10rem;
  margin-right: 5rem;
  z-index: -1;
  -webkit-animation: snowflakes 2s linear infinite;
  animation: snowflakes 2s linear infinite;
}
.main .weather .weather_live .snow .snowflakes .snowflake {
  position: relative;
  font-size: 2rem;
  color: #fff;
}
.main .weather .weather_live .snow .snowflakes .snowflake:nth-of-type(1) {
  -webkit-animation: snowflake 2s ease-in-out infinite;
  animation: snowflake 2s ease-in-out infinite;
}
.main .weather .weather_live .snow .snowflakes .snowflake:nth-of-type(2) {
  -webkit-animation: snowflake 2s 0.2s ease-in-out infinite reverse;
  animation: snowflake 2s 0.2s ease-in-out infinite reverse;
  top: -20px;
}
.main .weather .weather_live .heavy_snow .cloud {
  position: absolute;
  right: 10%;
  top: 0;
  font-size: 15rem;
  color: #999;
}
.main .weather .weather_live .heavy_snow .snowflakes {
  position: absolute;
  right: 10%;
  top: 10rem;
  margin-right: 2rem;
  z-index: -1;
  -webkit-animation: snowflakes 2s linear infinite;
  animation: snowflakes 2s linear infinite;
}
.main .weather .weather_live .heavy_snow .snowflakes .snowflake {
  position: absolute;
  font-size: 2rem;
  color: #fff;
}
.main .weather .weather_live .heavy_snow .snowflakes .snowflake:nth-of-type(1) {
  -webkit-animation: snowflake 2s ease-in-out infinite;
  animation: snowflake 2s ease-in-out infinite;
  top: -30px;
  right: 5rem;
}
.main .weather .weather_live .heavy_snow .snowflakes .snowflake:nth-of-type(2) {
  -webkit-animation: snowflake 2s 0.2s ease-in-out infinite reverse;
  animation: snowflake 2s 0.2s ease-in-out infinite reverse;
  top: -10px;
  right: 7rem;
}
.main .weather .weather_live .heavy_snow .snowflakes .snowflake:nth-of-type(3) {
  -webkit-animation: snowflake 2s 0.2s ease-in-out infinite;
  animation: snowflake 2s 0.2s ease-in-out infinite;
  top: 0;
  right: 3rem;
}
.main .weather .weather_live .heavy_snow .snowflakes .snowflake:nth-of-type(4) {
  -webkit-animation: snowflake 2s 0.4s ease-in-out infinite reverse;
  animation: snowflake 2s 0.4s ease-in-out infinite reverse;
  top: -30px;
  right: 2rem;
}
.main .weather .weather_live .heavy_snow .snowflakes .snowflake:nth-of-type(5) {
  -webkit-animation: snowflake 2s 0.4s ease-in-out infinite reverse;
  animation: snowflake 2s 0.4s ease-in-out infinite reverse;
  top: -20px;
  right: 6rem;
}
.main .weather .weather_live .heavy_snow .snowflakes .snowflake:nth-of-type(6) {
  -webkit-animation: snowflake 2s 0.4s ease-in-out infinite reverse;
  animation: snowflake 2s 0.4s ease-in-out infinite reverse;
  top: -35px;
  right: 8rem;
}
.main .weather .weather_live .heavy_snow .snowflakes .snowflake:nth-of-type(7) {
  -webkit-animation: snowflake 2s 0.4s ease-in-out infinite reverse;
  animation: snowflake 2s 0.4s ease-in-out infinite reverse;
  top: -15px;
  right: 4rem;
}
.main .weather .weather_live .cloudy .icon i {
  position: absolute;
}
.main .weather .weather_live .cloudy .sun {
  position: absolute;
  right: 10%;
  top: 2rem;
  transform: translateX(-50%);
  font-size: 8rem;
  color: #d89864;
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.main .weather .weather_live .cloudy .cloud {
  position: absolute;
  right: 10%;
  top: 1.5rem;
  font-size: 15rem;
  color: rgba(255, 255, 255, 0.8);
}
.main .weather .weather_live .thundershowers .thunder {
  color: #333;
  position: absolute;
  height: 60px;
  width: 60px;
  top: 8rem;
  right: 40%;
  background: #666;
  transform: scale(1.5) translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: #666 65px -15px 0 -5px, #666 25px -25px, #666 30px 10px, #666 60px 15px 0 -10px, #666 85px 5px 0 -5px;
}
.main .weather .weather_live .thundershowers .thunder:before {
  content: "";
  position: absolute;
  top: 80px;
  left: 80px;
  border-left: 0px solid transparent;
  border-right: 8px solid transparent;
  border-top: 38px solid yellow;
  box-shadow: yellow -7px -32px;
  transform: rotate(30deg);
  transform-origin: center -50px;
  animation: stormy_thunder 1.5s steps(1, end) infinite;
}
.main .weather .weather_live .thundershowers .thunder:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 6px;
  top: 30%;
  left: 100%;
  background: transparent;
  border-radius: 50%;
  animation: rainy_rain .7s infinite linear;
}
@keyframes rainy_rain {
  0% {
    box-shadow: rgba(0, 0, 0, 0) -10px 30px, rgba(0, 0, 0, 0) 40px 40px, rgba(0, 0, 0, 0.3) -50px 75px, rgba(0, 0, 0, 0.3) 55px 50px, rgba(0, 0, 0, 0.3) -18px 100px, rgba(0, 0, 0, 0.3) 12px 95px, rgba(0, 0, 0, 0.3) -31px 45px, rgba(0, 0, 0, 0.3) 30px 35px;
  }
  25% {
    box-shadow: rgba(0, 0, 0, 0.3) -10px 45px, rgba(0, 0, 0, 0.3) 40px 60px, rgba(0, 0, 0, 0.3) -50px 90px, rgba(0, 0, 0, 0.3) 55px 65px, rgba(0, 0, 0, 0) -18px 120px, rgba(0, 0, 0, 0) 12px 120px, rgba(0, 0, 0, 0.3) -31px 70px, rgba(0, 0, 0, 0.3) 30px 60px;
  }
  26% {
    box-shadow: rgba(0, 0, 0, 0.3) -10px 45px, rgba(0, 0, 0, 0.3) 40px 60px, rgba(0, 0, 0, 0.3) -50px 90px, rgba(0, 0, 0, 0.3) 55px 65px, rgba(0, 0, 0, 0) -18px 40px, rgba(0, 0, 0, 0) 12px 20px, rgba(0, 0, 0, 0.3) -31px 70px, rgba(0, 0, 0, 0.3) 30px 60px;
  }
  50% {
    box-shadow: rgba(0, 0, 0, 0.3) -10px 70px, rgba(0, 0, 0, 0.3) 40px 80px, rgba(0, 0, 0, 0) -50px 100px, rgba(0, 0, 0, 0.3) 55px 80px, rgba(0, 0, 0, 0.3) -18px 60px, rgba(0, 0, 0, 0.3) 12px 45px, rgba(0, 0, 0, 0.3) -31px 95px, rgba(0, 0, 0, 0.3) 30px 85px;
  }
  51% {
    box-shadow: rgba(0, 0, 0, 0.3) -10px 70px, rgba(0, 0, 0, 0.3) 40px 80px, rgba(0, 0, 0, 0) -50px 45px, rgba(0, 0, 0, 0.3) 55px 80px, rgba(0, 0, 0, 0.3) -18px 60px, rgba(0, 0, 0, 0.3) 12px 45px, rgba(0, 0, 0, 0.3) -31px 95px, rgba(0, 0, 0, 0.3) 30px 85px;
  }
  75% {
    box-shadow: rgba(0, 0, 0, 0.3) -10px 95px, rgba(0, 0, 0, 0.3) 40px 100px, rgba(0, 0, 0, 0.3) -50px 60px, rgba(0, 0, 0, 0) 55px 95px, rgba(0, 0, 0, 0.3) -18px 80px, rgba(0, 0, 0, 0.3) 12px 70px, rgba(0, 0, 0, 0) -31px 120px, rgba(0, 0, 0, 0) 30px 110px;
  }
  76% {
    box-shadow: rgba(0, 0, 0, 0.3) -10px 95px, rgba(0, 0, 0, 0.3) 40px 100px, rgba(0, 0, 0, 0.3) -50px 60px, rgba(0, 0, 0, 0) 55px 35px, rgba(0, 0, 0, 0.3) -18px 80px, rgba(0, 0, 0, 0.3) 12px 70px, rgba(0, 0, 0, 0) -31px 25px, rgba(0, 0, 0, 0) 30px 15px;
  }
  100% {
    box-shadow: rgba(0, 0, 0, 0) -10px 120px, rgba(0, 0, 0, 0) 40px 120px, rgba(0, 0, 0, 0.3) -50px 75px, rgba(0, 0, 0, 0.3) 55px 50px, rgba(0, 0, 0, 0.3) -18px 100px, rgba(0, 0, 0, 0.3) 12px 95px, rgba(0, 0, 0, 0.3) -31px 45px, rgba(0, 0, 0, 0.3) 30px 35px;
  }
}
@keyframes stormy_thunder {
  0% {
    transform: rotate(30deg);
    opacity: 1;
  }
  5% {
    transform: rotate(-34deg);
    opacity: 1;
  }
  10% {
    transform: rotate(0deg);
    opacity: 1;
  }
  15% {
    transform: rotate(-34deg);
    opacity: 0;
  }
}
.main .weather .weather_live .overcastDay .overcast {
  position: absolute;
  width: 3px;
  height: 6px;
  top: 6rem;
  right: 40%;
  background: #CCCCCC;
  border-radius: 50%;
  transform: scale(1.5);
}
.main .weather .weather_live .overcastDay .overcast:before {
  content: "";
  color: #333;
  position: absolute;
  height: 60px;
  width: 60px;
  top: 30px;
  left: -40px;
  background: #bbb;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: #bbb 65px -15px 0 -5px, #bbb 25px -25px, #bbb 30px 10px, #bbb 60px 15px 0 -10px, #bbb 85px 5px 0 -5px;
  animation: cloudy 5s ease-in-out infinite;
}
.main .weather .weather_live .overcastDay .overcast:after {
  content: "";
  position: absolute;
  top: 120px;
  left: 50%;
  height: 15px;
  width: 120px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: cloudy_shadow 5s ease-in-out infinite;
}
@keyframes cloudy {
  50% {
    transform: translate(-50%, -70%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
@keyframes cloudy_shadow {
  50% {
    transform: translate(-50%, -50%) scale(0.8);
    background: rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    background: rgba(0, 0, 0, 0.5);
  }
}
.main .weather .weather_live .common_img .weatherImg {
  position: absolute;
  top: 2rem;
  right: 10%;
}
.main .weather .weather_live .common_img .weatherImg > img {
  width: 15rem;
}
.main .weather .weather_live .common .weather_icon {
  position: absolute;
  top: 2rem;
  right: 10%;
  font-size: 8rem;
  color: #CCC;
}
.main .weather .weather_live .active {
  display: block;
}
.main .weather .weather_bad {
  background-color: rgba(2, 23, 79, 0.6);
  height: 36%;
  color: #fff;
  overflow: hidden;
}
.main .weather .weather_bad .title {
  background: rgba(58, 123, 255, 0.2);
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-size: 1.8rem;
}
.main .weather .weather_bad .item_list {
  padding: 12px 20px;
}
.main .weather .weather_bad .item {
  border-bottom: 1px solid #ddd;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 1.6rem;
  color: #02d9fa;
}
.main .weather .weather_bad .item .name {
  display: inline-block;
  min-width: 250px;
  color: rgba(255, 255, 255, 0.7);
  padding: 0 20px;
  color: #fff;
}
.main .statistics {
  float: left;
  width: 45%;
  height: 100%;
}
.main .statistics .statistics_phone {
  position: relative;
  height: 40%;
  background-color: #5b5c6e;
}
.main .statistics .statistics_phone .phoneChart {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 80%;
  padding-top: 45px;
}
.main .statistics .statistics_report {
  position: relative;
  height: 60%;
  background-color: #293441;
}
.main .statistics .statistics_report .reportChart {
  width: 100%;
  height: 100%;
  padding-top: 20px;
}
.main .statistics .title {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.8rem;
  color: #fff;
  z-index: 99;
}
/***************************************************/
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes sprinkle {
  from {
    -webkit-transform: translateX(0) translateY(0) skewX(-10deg);
    transform: translateX(0) translateY(0) skewX(-10deg);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(-70px) translateY(150px) skewX(-10deg);
    transform: translateX(-70px) translateY(150px) skewX(-10deg);
    opacity: 0;
  }
}
@keyframes sprinkle {
  from {
    -webkit-transform: translateX(0) translateY(0) skewX(-10deg);
    transform: translateX(0) translateY(0) skewX(-10deg);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(-70px) translateY(150px) skewX(-10deg);
    transform: translateX(-70px) translateY(150px) skewX(-10deg);
    opacity: 0;
  }
}
@-webkit-keyframes snowflakes {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes snowflakes {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes snowflake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes snowflake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
